body {
    font-size: 125%;
}

.site-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
}

.nav-menu {
    display: flex;
    grid-column: 2;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    padding: 1rem;
}